* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    display: block;
    width: 100%;
    border: 0;
}
.con_1200 {
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.loader > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}