html {
    font-family: 'Noto Sans KR', sans-serif;
}
#header_logo {
    width: 100%;
    height: 100px;
    /* background-color: red; */
    position: fixed;
    top: 0;
    z-index: 888;
}
#logo {
    width: 59px;
    height: 30px;
    margin: 35px;
}
#logo > a > img {
    display: none;
}
.title {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* background: #131313; */
    color:  #ffff;
    font-size: 60px;
    text-align: center;
    letter-spacing: -2px;
    position: relative;
    font-family: 'Silkscreen', cursive;
}
#background_01 {
    /* opacity: 20%; */
    position: fixed;
}
.title_text {}
.title_text > p{
    animation: glitch 1s linear infinite, opacity 7s ease;

}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title_text > p:before,
.title_text > p:after{
    width: 100%;
    text-align: center;
    content: attr(title);
    position: absolute;
    left: 0;
}

.title_text > p:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}

.title_text > p:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}


#main {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-color: #131313; */
    /* background-color: black; */
    transition: background-color 0.8s;
}
#background_02 {
    width: 70%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.8s;
}
#main > .bk_white {
    width: 100%;
    background-color: #ffffff;
}
#introduce {
    width: 100%;
    /* overflow: hidden; */
    position: relative;
}
#intro_box {
    max-width: 900px;
    margin: 500px auto;
    position: relative;
}
#intro_img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    transition-property: opacity,transform;
}

[data-aos][data-aos][data-aos-duration="1000"] {
    transition-duration: 1s;
}
#intro_text .black_text {
    color: #000000;
}
#intro_text {
    color: #ffffff;
    font-size: 32px;
    position: relative;
    /* font-family: 'Silkscreen', cursive; */
}
#intro_text > p > span {
    color: #00FF00;
}
#intro_text > p > strong {
    /* font-size: 42px; */
    color: #868686;
    /* color: #1ab81a; */
}
#intro_text > p:nth-child(2) {
    margin-left: 100px;
}
#intro_text > p:nth-child(3) {
    margin-left: 200px;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="400"].aos-animate {
    transition-delay: .4s;
}
#circle_01 {
    width: 480px;
    position: absolute;
    left: -100px;
    bottom: -40px;
    animation: cycle 10s linear infinite;
}

@keyframes cycle {
    100% {
        transform: rotate(360deg);
    }
}


#about {
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-color: #ffffff; */
}
#about > .con_1200 {
    z-index: 888;
    position: relative;
}
#about_box {
    width: 1060px;
    overflow: hidden;
    margin: 300px auto; 
}
#about_box .black_text {
    color: #000000;
}
#about_left {
    width: 294px;
    margin-right: 62px;
    float: left;
    color: #ffffff;
}
#about_me, #education {
    margin-bottom: 30px;
}
#about_left h3 {
    font-size: 24px;
    margin-bottom: 25px;
    /* transition: all 1s;
    transition-delay: 0.5s; */
    /* opacity: 0; */
}
/* #about_left .opacity_01 {
    opacity: 1;
} */
.aboutMe_text {
    font-size: 16px;
    letter-spacing: -1px;
}
.aboutMe_text > p {
    margin-bottom: 5px;
}
.opacity_01 {
    opacity: 1;
}
#about_right {
    width: 704px;
    float: left;
    color: #ffffff;
}
#skills > h3 {
    margin-left: 50px;
    font-size: 24px;
}
#skills_circle {
    width: 704px;
    height: 569px;
    position: relative;
}
#skills_circle > div {
    transition: all 0.7s;
}
#html {
    width: 362px;
    height: 362px;
    border-radius: 50%;
    background-color: rgba(0, 255, 0, 0.3);
    border: 1px solid #00ff00;
    position: absolute;
    left: 130px;
    animation: htmlMove 1s alternate infinite;
}
@keyframes htmlMove {
    0% {
        top: 10px;
    }
    100% {
        top: 5px;
    }
}
#css {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 1px solid #00ff19;
    background-color: rgba(0, 255, 25, 0.3);
    position: absolute;
    bottom: 10px;
    right: 30px;
    animation: cssMove 3s alternate infinite;
}

@keyframes cssMove {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: 30px;
    }
}
#js {
    width: 204px;
    height: 204px;
    border-radius: 50%;
    border: 1px solid #44F827;
    background-color: rgba(68, 248, 39, 0.3);
    position: absolute;
    bottom: 40px;
    left: 220px;
    animation: jsMove 2s alternate infinite;
}

@keyframes jsMove {
    0% {
        bottom: 50px;
        /* left: 220px; */
    }
    100% {
        bottom: 40px;
        /* left: 225px; */
    }
}
#ai {
    width: 178px;
    height: 178px;
    border-radius: 50%;
    border: 1px solid #00ff19;
    background-color: rgba(0, 255, 25, 0.3);
    position: absolute;
    top: 200px;
    animation: aiMove 2s alternate infinite;
}

@keyframes aiMove {
    0% {
        top: 220px;
    }
    100% {
        top: 200px;
    }
}
#ps {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 1px solid #3CFF3C;
    background-color: rgba(60, 255, 60, 0.3);
    position: absolute;
    left: 120px;
    bottom: 110px;
    animation: psMove 2.5s alternate infinite;
}
@keyframes psMove {
    0% {
        bottom: 130px;
    }
    100% {
        bottom: 110px;
    }
}
#figma {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    border: 1px solid #3CFF3C;
    background-color: rgba(60, 255, 60, 0.3);
    position: absolute;
    top: 150px;
    right: 0px;
    animation: figmaMove 2s alternate-reverse infinite;
}
@keyframes figmaMove {
    0% {
        top: 150px;
    }
    100% {
        top: 160px;
    }
}
.skill_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 900;
    color: #14df14;
}
#s_circle_01 {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #00ff38;
    background-color: rgba(0, 255, 56, 0.3);
    position: absolute;
    top: 60px;
    right: 130px;
    animation: circleOneMove 2s alternate infinite;
}
@keyframes circleOneMove {
    0% {
        top: 50px;
    }
    100% {
        top: 60px;
    }
}
#s_circle_02 {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 1px solid #00ff38;
    background-color: rgba(0, 255, 56, 0.3);
    position: absolute;
    left: 0;
    bottom: 50px;
    animation: circleTwoMove 2s alternate infinite;
}
@keyframes circleTwoMove {
    0% {
        bottom: 60px;
    }
    100% {
        bottom: 50px;
    }
}
#circle_02 {
    width: 480px;
    position: absolute;
    left: 70px;
    bottom: 50px;
    opacity: 40%;
    animation: cycle2 20s linear infinite;
}
@keyframes cycle2 {
    100% {
        transform: rotate(-360deg);
    }
}


#portfolio {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#portfolio > h3 {
    margin: 200px auto 100px auto;
    text-align: center;
    font-size: 36px;
    color: #000000;
}
/* .portfolio_box {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.swiper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.slide_text {
    text-align: center;
    color: #ffffff;
    margin: 15px 0;
} */
#portfolio_wrap {
    /* width: 2040px; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 607px;
    position: relative;
    margin-top: 100px;
}
.slide_text {
    /* width: 50%; */
    float: left;
    position: relative;
}
.slide > .white_text {
    color: #ffffff;
}
.slide_number {
    font-size: 370px;
    font-weight: bold;
    /* color: #ffffff; */
    position: relative;
    top: -190px;
    opacity: 10%;
}
.slide_name {
    /* top: 45px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    position: absolute;
    top: 250px;
    left: -140px;
    transform: rotate(90deg);
    font-size: 70px;
    font-weight: bold;
    /* color: #ffffff; */
    line-height: 100px;
}
.slide_info {
    position: absolute;
    bottom: 40px;
    left: 34%;
    /* color: #ffffff; */
}
.slide_info > div {
    overflow-y: auto;
    margin-top: 10px;
}
.slide_info > div > span:nth-child(1) {
    width: 61px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    display: inline-block;
    float: left;
}
.slide_info p {
    width: 200px;
    float: left;
}
.slide_info > button {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    border: 1px solid #ffffff;
    outline: 0;
    background-color:transparent;
    transition: all 0.7s;
    font-family: 'Silkscreen', cursive;
}
.slide_info > button > a {
    color: #ffffff;
    transition: all 0.7s;
}
.slide_info > button:hover {
    border-radius: 25px;
    background-color: #fffffffe;
}
.slide_info > button:hover > a {
    color: #000000;
}
.mockup_box {
    width: 680px;
    height: 570px;
    position: absolute;
    right: 0;
    float: right;
}
.slide:nth-child(2) > .slide_text {
    float: right;
}
.slide:nth-child(2) > .slide_text > .slide_name {
    right: -140px;
    left: auto;
}
.slide:nth-child(2) .slide_info {
    left: auto;
} 
.slide:nth-child(2) > .mockup_box {
    float: left;
    left: 0;
}
.mockup_pc {
    width: 680px;
    height: 607px;
    position: absolute;
    /* right: 0; */
}
.mockup_pc > div:first-child {
    position: absolute;
    width: 650px;
    height: 340px;
    left: 13px;
    top: 5px;
}
.mockup_pc > div:first-child > iframe {
    width: 100%;
    height: 98%;
}
.mockup_pc > div:last-child {
    position: absolute;
}

.mockup_tab {
    width: 230px;
    height: 307px;
    position: absolute;
    bottom: 0;
    left: 35px;
}
.mockup_tab > div:first-child {
    position: absolute;
    width: 210px;
    height: 99%;
    left: 9px;
}
.mockup_tab > div:first-child > iframe {
    width: 100%;
    height: 100%;
}
.mockup_tab > div:last-child {
    position: absolute;
}

.mockup_mb {
    width: 120px;
    position: absolute;
    bottom: 3px;
    left: 35%;
}
.mockup_mb > div:first-child {
    position: absolute;
    width: 108px;
    height: 220px;
    top: 6px;
    left: 4px;
}
.mockup_mb > div:first-child > iframe {
    width: 100%;
    height: 100%;
}
.mockup_mb > div:last-child {
    position: relative;
}
#footer {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}
#footer_box {
    width: 100%;
    margin: 200px auto;
}
#footer_top {
    text-align: center;
    margin-top: 500px;
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 32px;
}
.f_text {
    display: initial; vertical-align: middle;
    border-right: .05em solid #ffffff;
    animation: cursor 0.3s ease infinite;
    font-family: 'Silkscreen', cursive;
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
#footer_mid {
    width: 512px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f_mid_left, #f_mid_center, #f_mid_right {
    width: 50px;
}
#f_mid_left, #f_mid_center {
    margin-right: 86px;
}
#footer_bot {
    margin-bottom: 200px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Silkscreen', cursive;
}